@import url(https://fonts.googleapis.com/css?family=Questrial);
@import 'bootstrap.min.css';
@import 'font-awesome.min.css';
/*Plugins*/
@import 'jquery.mCustomScrollbar.min.css';
@import 'datepicker.css';
@import 'select2.min.css';
@import 'select2-bootstrap.min.css';
@import 'swiper.css';
/* VARS */
html {
  height: 100%;
}
body {
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  color: #646464;
  overflow-x: hidden;
  height: 100%;
}
main {
  min-height: 100%;
}
label {
  margin-bottom: 0;
}
a:focus,
button:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.vh-100 {
  min-height: 100vh;
}
/*iPhone*/
.iphone-block {
  background-image: url(../img/iphone_xs_space_gray_front.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 348px;
  height: 700px;
  position: relative;
  margin: 40px auto;
  overflow: auto;
}
.iphone-block .iphone-bg {
  position: relative;
  top: -2px;
  left: 57px;
}
.iphone-block #iframe-container {
  position: relative;
  left: 22px;
  top: 21px;
  width: 304px;
  height: 660px;
}
.iphone-block iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
/* POSITION */
.small-paddings [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.no-paddings {
  padding-right: 0;
  padding-left: 0;
}
.no-paddings [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
.no-padding-right [class*="col-"] {
  padding-right: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-left [class*="col-"] {
  padding-left: 0;
}
@media only screen and (max-width: 767px) {
  .no-paddings-mobile {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .no-paddings-mobile [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.no-paddings-mobile .clear-input {
  right: 10px !important;
}
@media only screen and (max-width: 767px) {
  .no-padding-right-mobile {
    padding-right: 0;
  }
  .no-padding-right-mobile [class*="col-"] {
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .no-padding-left-mobile {
    padding-left: 0;
  }
  .no-padding-left-mobile [class*="col-"] {
    padding-left: 0;
  }
}
.border-right {
  border-right: 1px solid #ebebeb !important;
}
.border-right-desktop-only {
  border-right: 1px solid #ebebeb;
}
@media only screen and (max-width: 767px) {
  .border-right-desktop-only {
    border-right: none;
  }
}
.border-bottom {
  border-bottom: 1px solid #ebebeb !important;
}
.no-border {
  border: none !important;
}
@media only screen and (max-width: 767px) {
  .header-mobile-only {
    background: #f8f8f8;
    text-align: center;
    padding: 20px 0;
    color: #313131;
  }
}
@media only screen and (max-width: 767px) {
  .one-line-mobile-only {
    height: 26px;
    overflow: hidden;
    line-height: 25px;
  }
}
/* VIEW */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex-order-1 {
  order: 1;
}
.flex-order-2 {
  order: 2;
}
.flex-order-3 {
  order: 3;
}
.flex-order-4 {
  order: 4;
}
.flex-order-5 {
  order: 5;
}
.desktop-only {
  display: inline-block !important;
}
.desktop-only.desktop-btn-block {
  display: block !important;
}
@media only screen and (max-width: 767px) {
  .desktop-only {
    display: none !important;
  }
  .desktop-only.desktop-btn-block {
    display: none !important;
  }
}
.mobile-only {
  display: none !important;
}
@media only screen and (max-width: 767px) {
  .mobile-only {
    display: inline-block !important;
  }
  .mobile-only.mobile-btn-block {
    display: block !important;
  }
}
/* TEXT */
.text-color-yellow {
  color: #ffb646;
}
.text-color-white {
  color: #fff;
}
.text-color-white-important {
  color: #fff !important;
}
.text-color-white-important::after {
  color: #fff !important;
}
.text-color-blue {
  color: #4299f7;
}
.text-color-light-gray {
  color: #9d9d9d;
}
.text-color-dark-gray {
  color: #646464;
}
.text-color-darker-gray {
  color: #313131;
}
.text-color-red {
  color: red;
}
@media only screen and (max-width: 767px) {
  .text-colormob-light-gray {
    color: #9d9d9d;
  }
}
.uppercase {
  text-transform: uppercase;
}
.fs-38 {
  font-size: 38px;
}
.fs-28 {
  font-size: 28px;
}
.fs-16 {
  font-size: 16px;
}
.fs-12 {
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .link-mobile-only {
    pointer-events: none;
    cursor: default;
  }
}
@media only screen and (min-width: 768px) {
  .link-for-all {
    color: #4299f7 !important;
    text-decoration: underline;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .link-for-all:hover {
    color: #2a8cf6;
  }
}
/* IMG */
.img-shadow {
  box-shadow: 0 3px 5px #9c9c9c;
}
.background-lighter-gray {
  background: #f8f8f8 !important;
}
.background-light-gray {
  background: #9d9d9d !important;
}
.background-dark-gray {
  background: #646464 !important;
}
.background-red {
  background: red !important;
}
.background-yellow {
  background: #ffb646 !important;
}
.background-green {
  background: #71d75d !important;
}
.background-blue {
  background: #4299f7 !important;
}
.animation-transition {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* BUTTONS */
.fluid-btn-block button {
  width: 100%;
  margin: 2px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fluid-btn-block .btn-like-item {
  margin: 0 auto;
}
.sticky-btn-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 34px;
}
.sticky-btn-block-big {
  height: 60px;
}
.btn-yellow {
  background: #ffb646;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-yellow:hover {
  background: #ffa213;
}
.btn-green {
  background: #71d75d;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-green:hover {
  background: #4dcd34;
}
.btn-grey {
  background: #9d9d9d;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-grey:hover {
  background: #848484;
}
.btn-lighter-grey {
  background: #f8f8f8;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-lighter-grey:hover {
  background: #dfdfdf;
}
.btn-blue {
  background: #4299f7;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-blue:hover {
  background: #117ff5;
}
.btn-red {
  background: red;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-red:hover {
  background: #cc0000;
}
.btn-white-text {
  color: #fff;
}
.btn-white-text i {
  color: #fff;
}
.btn-rounded {
  border-radius: 50%;
}
.btn-shadow {
  box-shadow: 0 3px 5px #9c9c9c;
}
.btn-size20px,
.btn-size40px,
.btn-size32px {
  text-align: center;
  padding: 0;
}
.btn-size20px {
  width: 20px;
  height: 20px;
  line-height: 18px;
}
.btn-size32px {
  width: 32px;
  height: 32px;
  line-height: 31px;
}
.btn-size40px {
  width: 40px;
  height: 40px;
  line-height: 38px;
}
.btn-remove-photo {
  position: absolute;
  right: 10px;
  top: 10px;
}
.btn-upload-file {
  position: relative;
}
.btn-upload-file .hidden-upload {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
}
.btn-header {
  height: 40px;
}
.btn-header-blank {
  width: 21px;
}
.btn-header span {
  display: inline-block;
  position: relative;
}
.btn i {
  color: #fff;
}
.btn.mobile-btn {
  width: 100%;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  color: #fff;
}
.btn.fixed-right {
  right: 20px;
  bottom: 20px;
  left: auto;
}
.btn.red-text-border {
  background: #fff;
  color: red;
  border: 2px solid red;
}
.btn.red-text-border i {
  color: red !important;
}
.btn.rot-90deg {
  transform: rotate(90deg);
}
@media only screen and (max-width: 767px) {
  .btn.mob-transpatrent {
    background-color: transparent;
    text-align: left;
    position: relative;
    padding: 0;
  }
  .btn.mob-transpatrent i {
    color: #9d9d9d;
  }
  .btn.mob-transpatrent.btn-white-text {
    color: #646464;
  }
  .btn.mob-rounded {
    border-radius: 50%;
    padding: 0.375rem 0.75rem;
  }
  .btn.mob-no-radius {
    border-radius: 0;
  }
  .btn.mob-angle-right::after,
  .btn.mob-plus-circle::after,
  .btn.mob-plus::after {
    position: absolute;
    font-size: 24px;
    right: 20px;
    top: 0;
    font-family: 'FontAwesome';
  }
  .btn.blue-text {
    color: #4299f7;
  }
  .btn.blue-text i {
    color: #4299f7;
  }
  .btn.blue-text-border {
    border: 2px solid #4299f7;
  }
  .btn.blue-text-border i {
    color: #4299f7;
  }
  .btn.mob-angle-right::after {
    content: "\f105";
  }
  .btn.mob-plus-circle::after {
    content: "\f055";
  }
  .btn.mob-plus::after {
    content: "\f067";
  }
}
/* BLOCKS */
.info-block {
  text-align: center;
  padding: 5px 0;
}
.info-block-yellow {
  background: #ffb646;
}
.info-block-white {
  background: #fff;
}
.info-block-grey {
  background: #f8f8f8;
}
.info-block-yellow-grey {
  background: #ffb646;
}
@media only screen and (max-width: 767px) {
  .info-block-yellow-grey {
    background: #ebebeb;
  }
}
.info-block.big-ico i {
  display: inline-block;
  margin: 0 10px;
  font-size: 22px;
}
/* FORMS */
.form-locked-desktop label {
  color: #4299f7;
  text-transform: uppercase;
}
.form-locked-desktop input {
  color: #646464;
}
.form-locked-desktop i {
  color: #646464;
}
@media only screen and (min-width: 768px) {
  .form-locked-desktop input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    pointer-events: none;
    padding-left: 0;
  }
}
/*NAVIGATION*/
nav.navbar {
  background: #4299f7;
  padding: 0;
}
nav.navbar .btn-left,
nav.navbar .btn-right {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
}
nav.navbar .btn-left {
  margin-left: 1%;
}
nav.navbar .btn-right {
  margin-right: 1%;
}
nav.navbar .navbar-brand {
  font-size: 1rem;
  letter-spacing: 1px;
}
nav.navbar .navbar-toggler {
  border: none;
  background: transparent !important;
}
nav.navbar .navbar-toggler:hover {
  background: transparent !important;
}
nav.navbar .navbar-toggler .icon-bar {
  height: 2px;
  width: 22px;
  border-radius: 1px;
  display: block;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
nav.navbar .navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}
nav.navbar #navbarsTop {
  height: 100vh !important;
  overflow-y: auto;
  margin-top: 10px;
}
@media only screen and (max-width: 767px) {
  nav.navbar #navbarsTop {
    background: #f8f8f8;
  }
}
nav.navbar .navbar-toggler.x .icon-bar:nth-of-type(1) {
  -webkit-transform: translateX(3px) rotate(45deg);
  -ms-transform: translateX(3px) rotate(45deg);
  -moz-transform: translateX(3px) rotate(45deg);
  -o-transform: translateX(3px) rotate(45deg);
  transform: translateX(3px) rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  -moz-transform-origin: 10% 10%;
  -o-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
nav.navbar .navbar-toggler.x .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
}
nav.navbar .navbar-toggler.x .icon-bar:nth-of-type(3) {
  -webkit-transform: translateX(3px) rotate(-45deg);
  -ms-transform: translateX(3px) rotate(-45deg);
  -moz-transform: translateX(3px) rotate(-45deg);
  -o-transform: translateX(3px) rotate(-45deg);
  transform: translateX(3px) rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  -moz-transform-origin: 10% 90%;
  -o-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
nav.navbar .navbar-toggler.x.collapsed .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
nav.navbar .navbar-toggler.x.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
}
nav.navbar .navbar-toggler.x.collapsed .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
nav.navbar .nav-item {
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  display: block;
  padding: 50px 0;
  background: #4299f7;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
nav.navbar .nav-item:hover {
  background: #3388e4;
}
nav.navbar .nav-item a {
  display: block;
  text-align: center;
}
nav.navbar .nav-item a i,
nav.navbar .nav-item a span {
  color: #fff;
  display: block;
}
nav.navbar .nav-item a i {
  margin: 5px;
  font-size: 24px;
}
@media only screen and (max-width: 767px) {
  nav.navbar .nav-item {
    background: #f8f8f8;
    border: 1px solid #f0f0f0;
    padding: 20px 0;
  }
  nav.navbar .nav-item:hover {
    background: #fff;
  }
  nav.navbar .nav-item a i,
  nav.navbar .nav-item a span {
    color: #646464;
  }
}
@media only screen and (max-width: 767px) {
  .sub-nav-mobile {
    background: #2a8cf6;
    margin: 0 !important;
  }
  .sub-nav-mobile div {
    color: #fff;
    text-align: center;
  }
}
/* ELEMENTS */
.top-gallery {
  background: #ffb646;
}
@media only screen and (max-width: 767px) {
  .top-gallery {
    background: #f8f8f8;
  }
}
.top-gallery div:nth-child(1) {
  border-right: 1px solid #fff;
}
.top-gallery div:nth-child(2) {
  border-left: 1px solid #fff;
  position: relative;
}
.top-gallery div:nth-child(2) img:first-child {
  border-bottom: 2px solid #fff;
}
.top-gallery div:nth-child(2) .mobile-btn-block {
  position: absolute;
  right: 0;
  bottom: -5px;
}
.product-name {
  background: #ffb646;
  color: #fff;
  position: relative;
}
.product-name .product {
  text-align: center;
}
.product-name .product h1 {
  border-bottom: 1px solid #e6e6e6;
  font-size: 2em;
}
.product-name .product h5 {
  text-transform: uppercase;
  padding: 0 20px;
  font-size: 1em;
}
.product-name .next {
  display: block;
  position: absolute;
  right: 15px;
  top: 40%;
}
.product-name .next i {
  font-size: 24px;
  color: #646464;
}
.product-name .edit {
  display: block;
  position: absolute;
  right: 5%;
  top: 20%;
}
@media only screen and (max-width: 767px) {
  .product-name {
    background: #ebebeb;
  }
  .product-name .product {
    text-align: center;
  }
  .product-name .product h1 {
    color: #313131;
  }
  .product-name .product h5 {
    color: #646464;
  }
}
.upload-block,
.menu-block {
  background: #f8f8f8;
}
.upload-block-inner,
.menu-block-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload-block-inner .upload-ico,
.menu-block-inner .upload-ico,
.upload-block-inner .menu-ico,
.menu-block-inner .menu-ico {
  display: block;
  position: relative;
  padding: 80px 0;
}
@media only screen and (max-width: 767px) {
  .upload-block-inner .upload-ico,
  .menu-block-inner .upload-ico,
  .upload-block-inner .menu-ico,
  .menu-block-inner .menu-ico {
    padding: 20px 0;
  }
}
.upload-block-inner .upload-ico button,
.menu-block-inner .upload-ico button,
.upload-block-inner .menu-ico button,
.menu-block-inner .menu-ico button {
  border: none;
  background: none;
  color: #9d9d9d;
  margin: 0 auto;
}
.upload-block-inner .upload-ico button i,
.menu-block-inner .upload-ico button i,
.upload-block-inner .menu-ico button i,
.menu-block-inner .menu-ico button i {
  font-size: 36px;
  display: block;
}
.upload-block-inner .menu-ico,
.menu-block-inner .menu-ico {
  color: #646464;
  padding: 20px 0 ;
}
.upload-block-inner .menu-ico i,
.menu-block-inner .menu-ico i {
  color: #646464;
  font-size: 26px;
  display: block;
}
.custom-form {
  width: 100%;
}
.custom-form .fom-line {
  margin: 20px 0;
  width: 100%;
}
.custom-form .fom-line .custom-q-icon i {
  display: inline-block;
  background: #9d9d9d;
  color: #fff;
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
  width: 100%;
  height: auto;
  text-align: center;
  line-height: 40px;
}
.custom-form .fom-line .block-values {
  line-height: 50px;
}
.custom-form .fom-line.custom-add-dep-block {
  margin-top: 60px;
}
.custom-form .fom-line.custom-add-dep-block .custom-add-dep-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .custom-form .fom-line.custom-add-dep-block .custom-add-dep-text {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .custom-form .fom-line.custom-add-dep-block {
    margin-top: 10px;
  }
}
.custom-form .fom-line .row {
  flex-direction: row;
  min-height: 50px;
  align-items: stretch;
}
.custom-form .fom-line .row [class*="col-"] {
  align-self: center;
}
.custom-form .fom-line .row-with-arrow,
.custom-form .fom-line .row-with-bars {
  position: relative;
  color: #646464;
}
.custom-form .fom-line .row-with-arrow .block,
.custom-form .fom-line .row-with-bars .block {
  display: block;
}
.custom-form .fom-line .row-with-arrow .inline-block,
.custom-form .fom-line .row-with-bars .inline-block {
  display: inline-block;
}
@media only screen and (max-width: 767px) {
  .custom-form .fom-line .row-with-arrow,
  .custom-form .fom-line .row-with-bars {
    padding-right: 30px;
  }
  .custom-form .fom-line .row-with-arrow::after,
  .custom-form .fom-line .row-with-bars::after {
    content: "\f105";
    position: absolute;
    font-size: 22px;
    right: 15px;
    top: 50%;
    font-family: 'FontAwesome';
    height: 100%;
    bottom: 0;
    margin-top: -12px;
    line-height: 24px;
    color: #9d9d9d;
  }
}
@media only screen and (max-width: 767px) {
  .custom-form .fom-line .row-with-arrow::after {
    content: "\f105";
  }
}
@media only screen and (max-width: 767px) {
  .custom-form .fom-line .row-with-bars::after {
    content: "\f0c9";
  }
}
.custom-form .fom-line a.link {
  text-decoration: underline;
  color: #646464;
}
.custom-form .block-input-clear {
  position: relative;
}
.custom-form .block-input-clear .clear-input {
  position: absolute;
  right: calc(5% + 15px);
  top: 20%;
}
@media only screen and (max-width: 767px) {
  .custom-form .block-input-clear .clear-input {
    right: calc(5% + 10px);
  }
}
@media only screen and (max-width: 576px) {
  .custom-form .block-input-clear .clear-input {
    top: 16%;
  }
}
.custom-form .block-input-clear .input-button {
  position: absolute;
  top: 0;
  right: 0;
}
@media only screen and (max-width: 767px) {
  .custom-form .block-input-clear .input-button {
    right: calc(5% );
  }
}
.custom-form .block-input-search {
  position: relative;
}
.custom-form .block-input-search input {
  padding-left: calc(1% + 30px);
}
.custom-form .block-input-search .search-input {
  position: absolute;
  top: 20%;
}
.custom-form .block-input-search .search-input.desktop-only {
  left: calc(1% + 10px);
}
.custom-form .block-input-mic {
  position: relative;
}
.custom-form .block-input-mic textarea {
  resize: vertical;
}
.custom-form .block-input-mic .mic-ico {
  position: absolute;
  top: 10%;
  right: 5%;
  color: #4299f7;
}
@media only screen and (max-width: 576px) {
  .custom-form .block-input-mic .mic-ico {
    right: 7%;
  }
}
.custom-form .block-input-button {
  position: relative;
}
.custom-form .block-input-button .button-ico {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  padding-left: 10px;
}
@media only screen and (max-width: 767px) {
  .custom-form .fom-line {
    margin: 0;
    /*padding: 3px 0;*/
    border-bottom: 1px solid #f8f8f8;
  }
}
.custom-list {
  padding-left: 0;
  margin-bottom: 0;
}
.custom-list li {
  list-style: none;
  padding: 15px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .custom-list li {
    margin: 0;
    position: relative;
    border-bottom: 1px solid #f8f8f8;
  }
  .custom-list li::after {
    content: "\f105";
    position: absolute;
    font-size: 24px;
    right: 0;
    top: calc(50% - 18px);
    color: #9d9d9d;
    font-family: 'FontAwesome';
  }
}
.custom-list li a {
  display: block;
}
.custom-list li a:hover {
  text-decoration: none;
}
.custom-list li a .list-label {
  text-transform: uppercase;
  color: #9d9d9d;
  display: block;
}
.custom-list li a .list-value {
  color: #313131;
}
@media only screen and (max-width: 767px) {
  .custom-list li a .list-label {
    color: #313131;
  }
  .custom-list li a .list-label span {
    display: inline-block;
    margin-left: 10px;
  }
  .custom-list li a .list-label {
    text-transform: capitalize;
  }
}
@media only screen and (max-width: 767px) {
  .custom-list.gallery-list li {
    padding: 10px;
  }
}
.custom-list.gallery-list .gallery-list-name-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.custom-list.gallery-list .gallery-list-name-block.flex-wrap {
  flex-wrap: wrap;
}
.custom-list.gallery-list .gallery-list-name-block-order-1 {
  order: 1;
}
.custom-list.gallery-list .gallery-list-name-block-order-2 {
  order: 2;
}
.custom-list.gallery-list .gallery-list-name-block-order-3 {
  order: 3;
}
.custom-list.gallery-list .gallery-list-name-block-order-4 {
  order: 4;
}
.custom-list.gallery-list .gallery-list-name-block-order-5 {
  order: 5;
}
.rating label {
  color: #ffb646;
  text-indent: -2000em;
  display: inline-block;
  font-size: 1.2em;
  width: 1.2em;
}
.rating label:before {
  /*content: "★";*/
  content: "\f005";
  font-family: 'FontAwesome';
  position: relative;
  left: 2000em;
}
.rating input:checked ~ label {
  color: #313131;
}
.rating input {
  display: none;
}
.rating div.rating:hover label {
  color: gold;
}
.rating div.rating label:hover ~ label {
  color: #313131;
}
.status {
  text-transform: uppercase;
  text-align: center;
  padding: 2px 4px;
  border-radius: 20px;
}
.status.accept {
  width: 60px;
  color: #71d75d;
  border: 1px solid #71d75d;
}
/*PAGES*/
@media only screen and (max-width: 767px) {
  .container-page-value .flex-order-1 {
    order: 2;
  }
  .container-page-value .flex-order-2 {
    order: 1;
  }
}
.container-page-add-person .add-person-left-col {
  padding: 0 25%;
}
.container-page-add-person .add-person-left-col .img-fluid-out {
  position: relative;
}
.container-page-add-person .add-person-left-col .img-fluid-out .img-fluid {
  border-radius: 50%;
  margin-bottom: 40px;
  box-shadow: 0 3px 5px #9c9c9c;
}
@media only screen and (max-width: 767px) {
  .container-page-add-person .add-person-left-col {
    padding: 0%;
    text-align: center;
  }
  .container-page-add-person .add-person-left-col .img-fluid-out .img-fluid {
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: none;
  }
  .container-page-add-person .add-person-left-col .img-fluid-out .btn-edit {
    position: absolute;
    bottom: -20px;
    right: 10%;
  }
}
.content-gallery.gallery-rounded .content-gallery-block {
  padding: 5px;
}
.content-gallery.gallery-rounded .content-gallery-block img {
  box-shadow: 0 3px 5px #9c9c9c;
  padding: 0;
}
.content-gallery.gallery-rounded .content-gallery-block .gallery-block-blanc {
  border-radius: 50%;
}
.content-gallery.gallery-rounded .content-gallery-block .gallery-block-bg {
  border-radius: 50%;
  left: 5px;
  right: 5px;
  bottom: 5px;
  top: 5px;
}
.content-gallery-block {
  position: relative;
}
.content-gallery-block .gallery-block-bg {
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  top: 5px;
  background: rgba(49, 49, 49, 0.7);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
@media only screen and (max-width: 767px) {
  .content-gallery-block .gallery-block-bg {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}
.content-gallery-block .gallery-block-blanc {
  font-size: 42px;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .content-gallery-block .gallery-block-blanc {
    font-size: 10vw;
  }
}
.content-gallery-block .gallery-block-select {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 40%);
  width: 80%;
  white-space: pre-wrap;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.content-gallery-block:hover .gallery-block-bg {
  opacity: 1;
}
.content-gallery-block:hover .gallery-block-select {
  opacity: 1;
  z-index: 1;
}
.content-gallery-block.active-block .gallery-block-bg {
  opacity: 1;
}
.content-gallery-block img {
  padding: 5px;
}
@media only screen and (max-width: 767px) {
  .content-gallery-block img {
    padding: 1px;
  }
}
.content-gallery .square-block .square {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.content-gallery .square-block .square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
@media only screen and (max-width: 767px) {
  .content-gallery .square-block {
    padding: 5%;
  }
  .content-gallery .square-block .square {
    width: 50%;
  }
}
.container-add-assets-to-policy .order1 {
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .container-add-assets-to-policy .order-1 {
    order: 2;
  }
  .container-add-assets-to-policy .order-2 {
    order: 1;
    margin-right: 5px;
  }
  .container-add-assets-to-policy .order-2::after {
    content: " - ";
  }
}
.company-description {
  margin: 20px 0;
}
.company-description-bottom div,
.company-description div {
  margin: 10px 0;
}
@media only screen and (max-width: 767px) {
  .company-description {
    border-bottom: 1px solid #f8f8f8;
  }
}
.user-permissions-table {
  margin-top: -65px;
}
@media only screen and (max-width: 767px) {
  .user-permissions-table {
    margin-top: 0;
  }
}
.user-permissions-table-thead tr {
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  .user-permissions-table-thead tr {
    background: #f8f8f8;
  }
}
.user-permissions-table-thead tr th {
  padding: 20px 0 40px 0;
}
@media only screen and (max-width: 767px) {
  .user-permissions-table-thead tr th {
    padding: 10px 0;
  }
}
.user-permissions-table tbody td {
  vertical-align: middle;
}
.block-ico-staus .status-icon {
  display: inline-block;
  margin-right: 10px;
}
.username {
  margin: 20px auto;
}
.first-page .logo {
  max-width: 150px;
  margin: -40px auto 0;
}
.first-page .site-name,
.first-page .site-slogan {
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.first-page .link {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.first-page .link a {
  color: #fff;
  font-size: 24px;
}
/* FORM ELEMETS */
.toggler-on-off {
  width: 47px;
  height: 26px;
  background: #fff;
  position: relative;
  border-radius: 50px;
  border: 1px solid #71d75d;
}
.toggler-on-off:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 7px;
  z-index: 0;
  top: 6px;
  font-size: 8px;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.toggler-on-off:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 5px;
  top: 7px;
  font-size: 8px;
  z-index: 0;
  font-weight: bold;
}
.toggler-on-off label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 3px;
  z-index: 1;
  background: #71d75d;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.toggler-on-off input[type=checkbox] {
  visibility: hidden;
}
.toggler-on-off input[type=checkbox]:checked + label {
  left: 22px;
}
.custom-checkbox {
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
}
.custom-checkbox label {
  border: 1px solid #9d9d9d;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.custom-checkbox label:after {
  content: '';
  width: 10px;
  height: 6px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 1px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.custom-checkbox label:hover::after {
  opacity: 0.3;
}
.custom-checkbox input[type=checkbox] {
  visibility: hidden;
}
.custom-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.custom-checkbox input[type=checkbox]:checked + label {
  background: #71d75d;
  border: 1px solid #71d75d;
}
.custom-radio-button {
  width: 100%;
}
.custom-radio-button input[type="radio"]:checked,
.custom-radio-button input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.custom-radio-button input[type="radio"]:checked + label,
.custom-radio-button input[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: block;
  color: #666;
  left: 14px;
}
.custom-radio-button input[type="radio"]:checked + label:before,
.custom-radio-button input[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 35%;
  width: 18px;
  height: 18px;
  border: 1px solid #9d9d9d;
  border-radius: 100%;
  background: #fff;
}
.custom-radio-button input[type="radio"]:checked + label:after,
.custom-radio-button input[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 6px;
  height: 6px;
  background: #71d75d;
  position: absolute;
  top: calc(35% + 6px);
  left: 6px;
  border-radius: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.custom-radio-button input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.custom-radio-button input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.slider-page {
  position: relative;
}
.slider-page .img-bg {
  width: 100%;
  height: calc(100vh - 70px);
  background: url(../img/wallpaper.jpg);
  background-position: center center;
  background-size: cover;
}
.slider-page .swiper-container {
  height: 100%;
}
.slider-page .slider-container {
  height: 100%;
  text-align: center;
}
.slider-page .slider-container h3 {
  color: #fff;
}
.slider-page .one-col {
  justify-content: space-evenly;
}
.slider-page .one-col-center {
  justify-content: center;
}
.slider-page .two-col {
  flex-wrap: wrap;
}
.slider-page .two-col > div {
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .slider-page .two-col > div {
    width: 100%;
  }
}
.slider-page canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.background-block {
  height: 70vh;
  position: relative;
  overflow: hidden;
}
.background-block .background-black {
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  height: 100%;
  width: 100%;
}
.background-block .background-block-title {
  position: relative;
}
.background-block .white-box {
  border: 1px solid #ccc;
  position: relative;
  z-index: 1;
  opacity: 0.8;
}
.background-block .white-box img {
  opacity: 0.2;
  margin: 0 auto;
  width: 85%;
  max-width: 400px;
}
/*Plugins fix*/
.mCustomScrollbar .mCSB_container {
  min-height: 100%;
}
.datepicker {
  background: #4299f7;
  color: #fff;
  text-shadow: none;
  font-weight: 400;
  position: fixed;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #ccc;
}
.datepicker th {
  font-weight: 400;
}
.datepicker::before,
.datepicker::after {
  left: auto;
  right: 6px;
  content: none;
}
.datepicker table tr td.active,
.datepicker table tr td.day:hover {
  background-color: #3e89da !important;
  background-image: none;
  text-shadow: none;
  font-weight: 600;
}
/*PLUGIN SELECT2*/
.select2-container {
  width: 100% !important;
}
.selection {
  display: block;
  margin-top: 8px;
  position: relative;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 34px;
  height: 34px;
  background: rgba(157, 157, 157, 0.3);
  border-radius: 4px;
}
@media only screen and (max-width: 767px) {
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow::after {
    font-family: 'FontAwesome';
    content: "\f105";
    position: absolute;
    left: 7px;
    top: 2px;
    color: #646464;
    font-size: 20px;
  }
}
.select2-container .select2-selection--single {
  height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.select2-container--open .select2-dropdown--above {
  border-bottom: 1px solid #aaa;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.select2-dropdown {
  background: #4299f7;
  color: #fff;
  overflow: hidden;
}
.select2-container--open .select2-dropdown--below {
  margin-top: 3px !important;
  border-top: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #4299f7;
  color: #fff;
  overflow: hidden;
}
.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
}
.select2-results__option {
  padding-left: 40px;
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #3e89da;
  color: white;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  position: relative;
}
.select2-container--default .select2-results__option[aria-selected=true]::before {
  font-family: 'FontAwesome';
  content: "\f00c";
  position: absolute;
  left: 7px;
  top: 2px;
  color: #fff;
  font-size: 20px;
}
