
@import (css) url(https://fonts.googleapis.com/css?family=Questrial);
@import (css) 'bootstrap.min.css';
@import (css) 'font-awesome.min.css';

/*Plugins*/
@import (css) 'jquery.mCustomScrollbar.min.css';
@import (css) 'datepicker.css';
@import (css) 'select2.min.css';
@import (css) 'select2-bootstrap.min.css';
@import (css) 'swiper.css';


/* VARS */
@lighter-grey: #f8f8f8;
@light-grey: #9d9d9d;
@dark-grey: #646464;
@darker-grey: #313131;
@yellow: #ffb646;
@green: #71d75d;
@blue: #4299f7;
@red: red;
@white: #fff;
@black: #222;

@breakpoint-1199: ~"only screen and (max-width: 1199px)"; //.col-lg-
@breakpoint-991: ~"only screen and (max-width: 991px)"; //.col-md-
@breakpoint-768: ~"only screen and (min-width: 768px)"; //.col-sm-
@breakpoint-767: ~"only screen and (max-width: 767px)"; //.col-sm-
@breakpoint-576: ~"only screen and (max-width: 576px)"; //.col-

html{ height: 100%; }
body{
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
    color: @dark-grey;
    overflow-x: hidden;
    height: 100%; 
}
main{
    min-height: 100%;
}
label{
    margin-bottom: 0;
}


a:focus,
button:focus{ 
    outline: none;
}
a:hover{
    text-decoration: none;
}

.vh-100 {
    min-height: 100vh;
}

/*iPhone*/
.iphone-block{
    background-image: url(../img/iphone_xs_space_gray_front.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 348px;
    height: 700px;
    position: relative;
    margin: 40px auto;
    overflow: auto;
    .iphone-bg{
        position: relative;
        top: -2px;
        left: 57px;
    }
    #iframe-container{
        position: relative;
        left: 22px;
        top: 21px;
        width: 304px;
        height: 660px;
    }
    iframe{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }

}





/* POSITION */
.small-paddings{
    & [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
    }
}

.no-paddings {
    padding-right: 0;
    padding-left: 0;
    & [class*="col-"] {
        padding-right: 0;
      padding-left: 0;
    }
}
.no-padding-right {
    padding-right: 0;
    & [class*="col-"] {
      padding-right: 0;
    }
}
.no-padding-left {
    padding-left: 0;
    & [class*="col-"] {
      padding-left: 0;
    }
}
.no-paddings-mobile {
    @media @breakpoint-767 {
        padding-right: 0 !important;
        padding-left: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        & [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        } 
    }
    .clear-input{
        right: 10px !important;
    }
}

.no-padding-right-mobile {
    @media @breakpoint-767 {
        padding-right: 0;
        & [class*="col-"] {
            padding-right: 0;
        }
    }
}
.no-padding-left-mobile {
    @media @breakpoint-767 {
        padding-left: 0;
        & [class*="col-"] {
            padding-left: 0;
        }
    }
}

.border-right{
    border-right: 1px solid darken(@lighter-grey,5%) !important;
    &-desktop-only{
        border-right: 1px solid darken(@lighter-grey,5%);
        @media @breakpoint-767 {
            border-right:none;
        }
    }
}
.border-bottom{
    border-bottom: 1px solid darken(@lighter-grey,5%) !important;
}
.no-border{
    border:none !important;
}

.header-mobile-only{
    @media @breakpoint-767 {
        background: @lighter-grey;
        text-align: center;
        padding: 20px 0;
        color: @darker-grey;
    }  
}
.one-line-mobile-only{
    @media @breakpoint-767 {
        height: 26px; 
        overflow: hidden;
        line-height: 25px;
    } 
}


/* VIEW */
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    &.flex-wrap {
        flex-wrap: wrap;
    }
    &-order-1{order:1;}
    &-order-2{order:2;}
    &-order-3{order:3;}
    &-order-4{order:4;}
    &-order-5{order:5;}

}


.desktop-only {
    display: inline-block !important;
    &.desktop-btn-block{
        display: block !important;
    }
    @media @breakpoint-767 {
        display: none !important;
        &.desktop-btn-block{
            display: none !important;
        }
    }
}

.mobile-only {
    display: none !important;
    @media @breakpoint-767 {
        display: inline-block !important;
        &.mobile-btn-block{
            display: block !important;
        }
    }
}


/* TEXT */
.text-color{
    &-yellow{color: @yellow;}
    &-white{
        color:@white;
        &-important{
            color:@white !important; 
            &::after{
                color:@white !important;  
            } 
        }
    }
    &-blue{color:@blue;}
    &-light-gray{color: @light-grey;}
    &-dark-gray{color: @dark-grey;}
    &-darker-gray{color: @darker-grey;}
    &-red{color:@red;}

    @media @breakpoint-767 {
        &mob-light-gray{color: @light-grey;}
    }
}
.uppercase{
    text-transform: uppercase
}
.fs{
    &-38{
        font-size: 38px;
    }
    &-28{
        font-size: 28px;
    }
    &-16{
        font-size: 16px;
    }
    &-12{
        font-size: 12px;
    }
}
.link{
    &-mobile-only{
        @media @breakpoint-768{
            pointer-events: none;
            cursor: default; 
        }
    }
    &-for-all{
        @media @breakpoint-768{
            color: @blue !important;
            text-decoration: underline;
            .animation-transition;
            &:hover{
                color: darken(@blue,5%);
            }
        }
    }
}
/* IMG */
.img-shadow{
    box-shadow: 0 3px 5px  #9c9c9c 
}

.background{
    &-lighter-gray{background: @lighter-grey !important;}
    &-light-gray{background: @light-grey !important;}
    &-dark-gray{background: @dark-grey !important;}
    &-red{background: @red !important;}
    &-yellow{background: @yellow !important;}
    &-green{background: @green !important;}
    &-blue{background: @blue !important; }
}

.animation-transition{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* BUTTONS */
.fluid-btn-block{
    button{
        width: 100%;
        margin: 2px auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btn-like-item{
        margin: 0 auto; 
    }
}
.sticky-btn-block{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 34px;
    &-big{
        height: 60px;  
    }
}

.btn{
    &-yellow{
        background: @yellow;
        .animation-transition;
        &:hover{
            background: darken(@yellow,10%)
        }
    }
    &-green{
        background: @green;
        .animation-transition;
        &:hover{
            background: darken(@green,10%)
        }
    }
    &-grey{
        background: @light-grey;
        .animation-transition;
        &:hover{
            background: darken(@light-grey,10%)
        }
    }
    &-lighter-grey{
        background: @lighter-grey;
        .animation-transition;
        &:hover{
            background: darken(@lighter-grey,10%)
        }
    }
    &-blue{
        background: @blue;
        .animation-transition;
        &:hover{
            background: darken(@blue,10%)
        }
    }
    &-red{
        background: @red;
        .animation-transition;
        &:hover{
            background: darken(@red,10%)
        }
    }

    &-white-text{
        color: @white;
        i{color: @white;}
    }
    &-rounded{border-radius: 50%;}
    &-shadow{box-shadow: 0 3px 5px  #9c9c9c;}

    &-size20px,
    &-size40px,
    &-size32px{
        text-align: center;
        padding:0;
    }
    &-size20px{
        width: 20px; 
        height: 20px;
        line-height: 18px;
    }
    &-size32px{
        width: 32px;
        height: 32px;
        line-height: 31px;
    }
    &-size40px{
        width: 40px;
        height: 40px;
        line-height: 38px;
    }
    &-remove-photo{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    &-upload-file{
        position: relative;
       .hidden-upload{
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            width: 100%;
       }
    }
    &-header{
        height:40px;
        &-blank{
            width: 21px;
        }
        span{
            display: inline-block;
            position: relative;
        }
    }
    
    i{color:@white;}
    &.mobile-btn{
        width: 100%;
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
        border-radius:0;
        color: #fff;
    }
    &.fixed-right{
       right: 20px;
       bottom: 20px;
       left: auto; 
    }

    &.red-text-border{
        background: @white;
        color: @red;
        border: 2px solid @red;
        i{
            color: @red !important;
        }
    }
    &.rot-90deg{
        transform: rotate(90deg);
    }

    @media @breakpoint-767{
        &.mob-transpatrent{
            background-color: transparent;
            text-align: left;
            position: relative;
            padding: 0;
            i{color: @light-grey}
            &.btn-white-text{
                color: @dark-grey;
            }
        }
        &.mob-rounded{
            border-radius: 50%;
            padding: .375rem .75rem;
        }
        &.mob-no-radius{
            border-radius: 0;
        }
        &.mob-angle-right::after,
        &.mob-plus-circle::after,
        &.mob-plus::after{
            position: absolute;
            font-size: 24px;
            right: 20px;
            top: 0;
            font-family: 'FontAwesome'; 
        }
        &.blue-text{
            color: @blue;
            i{
                color: @blue;
            }
            &-border{
                border: 2px solid @blue;
                i{
                    color: @blue;
                }
            }
        }
        &.mob-angle-right::after{
            content: "\f105";
        }
        &.mob-plus-circle::after{
            content: "\f055"; 
        }
        &.mob-plus::after{
            content: "\f067"; 
        }
        
    }
}

/* BLOCKS */
.info-block{
    text-align: center;
    padding: 5px 0;

    &-yellow{
        background: @yellow;
    }
    &-white{
        background: @white;
    }
    &-grey{
        background: @lighter-grey;
    }
    &-yellow-grey{
        background: @yellow;
        @media  @breakpoint-767{
            background: darken(@lighter-grey, 5%);
        } 
    }
    &.big-ico{
        i{
            display: inline-block;
            margin: 0 10px;
            font-size: 22px;
        }
    }
}

/* FORMS */
.form{
    &-locked-desktop{
        label{
            color: @blue;
            text-transform: uppercase;
        }
        input{
            color: @dark-grey;
        }
        i{
            color: @dark-grey;
        }
        
        @media  @breakpoint-768{
            input{
                border-top: none;
                border-left: none;
                border-right:none;
                border-radius: 0;
                pointer-events:none;
                padding-left: 0;
            }
        }
    }
}

/*NAVIGATION*/
nav.navbar{
    background: @blue;
    padding: 0;
    .btn-left,
    .btn-right{
        background: transparent;
        border: none;
        color: @white;
        font-size: 20px;
    }
    .btn-left{
        margin-left: 1%;       
    }
    .btn-right{
        margin-right: 1%;
    }
    .navbar-brand{
        font-size: 1rem;
        letter-spacing: 1px
    }
    .navbar-toggler {
        border: none;
        background: transparent !important;
        &:hover {
            background: transparent !important;
        }
        .icon-bar {
            height: 2px;
            width: 22px;
            border-radius: 1px;
            display: block;
            background-color: @white;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }

        .icon-bar+.icon-bar {
            margin-top: 4px;
        }
    }

    #navbarsTop {
        height: 100vh !important;
        overflow-y: auto;
        margin-top: 10px;
        @media  @breakpoint-767{
            background: @lighter-grey;
        }
    }


    .navbar-toggler.x .icon-bar:nth-of-type(1) {
        -webkit-transform: translateX(3px) rotate(45deg);
        -ms-transform: translateX(3px) rotate(45deg);
        -moz-transform: translateX(3px) rotate(45deg);
        -o-transform: translateX(3px) rotate(45deg);
        transform: translateX(3px) rotate(45deg);
        -webkit-transform-origin: 10% 10%;
        -ms-transform-origin: 10% 10%;
        -moz-transform-origin: 10% 10%;
        -o-transform-origin: 10% 10%;
        transform-origin: 10% 10%;
    }

    .navbar-toggler.x .icon-bar:nth-of-type(2) {
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }

    .navbar-toggler.x .icon-bar:nth-of-type(3) {
        -webkit-transform: translateX(3px) rotate(-45deg);
        -ms-transform: translateX(3px) rotate(-45deg);
        -moz-transform: translateX(3px)rotate(-45deg);
        -o-transform: translateX(3px) rotate(-45deg);
        transform: translateX(3px) rotate(-45deg);

        -webkit-transform-origin: 10% 90%;
        -ms-transform-origin: 10% 90%;
        -moz-transform-origin: 10% 90%;
        -o-transform-origin: 10% 90%;
        transform-origin: 10% 90%;
    }

    .navbar-toggler.x.collapsed .icon-bar:nth-of-type(1) {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    .navbar-toggler.x.collapsed .icon-bar:nth-of-type(2) {
        opacity: 1;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
    }

    .navbar-toggler.x.collapsed .icon-bar:nth-of-type(3) {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    .nav-item {
        -webkit-animation-duration: 0.8s;
        -moz-animation-duration: 0.8s;
        -o-animation-duration: 0.8s;
        animation-duration: 0.8s;

        display: block;
        padding: 50px 0;
        background: @blue;

        .animation-transition;
        &:hover{
            background: #3388e4;
        }
        a{
            display: block;
            text-align: center;
            i,span{
                color:@white;
                display: block;
            }
            i{
                margin: 5px;
                font-size: 24px;
            }
        }

        @media  @breakpoint-767{
            background: @lighter-grey;
            border: 1px solid darken(@lighter-grey, 3%) ;
            padding: 20px 0;

            &:hover{
                background:@white;
            }
            a{
                i,span{
                    color:@dark-grey;
                }
            }
        }

    }
}
.sub-nav-mobile{
    @media  @breakpoint-767{
        background: darken(@blue,5%);
        margin: 0 !important;
        div{
            color: @white;
            text-align: center;
        }
        
    }
}

/* ELEMENTS */
.top-gallery{
    background: @yellow;
    @media  @breakpoint-767{
        background: @lighter-grey;
    }
    & div:nth-child(1){
        border-right: 1px solid @white;
    }
    & div:nth-child(2){
        border-left: 1px solid @white;
        position: relative;
        img:first-child{
            border-bottom: 2px solid @white;
        }
        .mobile-btn-block {
            position: absolute;
            right: 0;
            bottom:-5px;
        }
    }
}

.product-name{
    background: @yellow;
    color: @white;
    position: relative;
    .product{
        text-align: center;
        h1{
            border-bottom: 1px solid darken(@white,10%);
            font-size: 2em;
        }
        h5{
            text-transform: uppercase;
            padding: 0 20px;
            font-size: 1em;
        }
    }
    .next{
        display: block;
        position: absolute;
        right: 15px;
        top: 40%;
        i{
            font-size: 24px;
            color: @dark-grey;

        }
    }
    .edit{
        display: block;
        position: absolute;
        right: 5%;
        top: 20%;
    }
    @media  @breakpoint-767{
        background: darken(@lighter-grey, 5%);
        
        .product{
            text-align: center;
            h1{
                color: @darker-grey;
            }
            h5{
                color: @dark-grey;
            }
        }
    }
}

.upload-block,
.menu-block{
    background: @lighter-grey;
    &-inner{
        display: flex;
        align-items: center;
        justify-content: center;
        .upload-ico,
        .menu-ico{
            display: block;
            position: relative;
            padding: 80px 0;
            @media  @breakpoint-767{
                padding: 20px 0; 
            }
            button{
                border: none;
                background: none;
                color: @light-grey;
                margin: 0 auto;
                i{
                    font-size: 36px;
                    display: block;
                }
            }
        }
        .menu-ico{
            color: @dark-grey;
            padding: 20px 0 ; 
            i{
                color: @dark-grey;
                font-size: 26px;
                display: block;
            }
        }
    }
    
}

.custom-form{
    width: 100%;
    .fom-line{
        margin: 20px 0;
        width: 100%;
        .custom-q-icon{
            i{
                display: inline-block;
                background: @light-grey;
                color: @white;
                border-radius: 50%;
                max-width: 40px;
                max-height: 40px;
                min-width: 40px;
                min-height: 40px;
                width: 100%;
                height: auto;
                text-align: center;
                line-height: 40px;
            } 
        }
        .block-values{
            line-height: 50px;
        }
        &.custom-add-dep-block{
            margin-top: 60px;
            .custom-add-dep-text{
                display: flex;
                justify-content: center;
                flex-direction: column;
                @media @breakpoint-767{
                    margin-bottom: 10px;
                }
            }
            @media @breakpoint-767{
                margin-top: 10px;
            }
        }
        .row {
            flex-direction: row;
            min-height: 50px;
            align-items: stretch;
            & [class*="col-"] {
                align-self: center;
            }
        }
        .row-with-arrow,
        .row-with-bars{
            position: relative;
            color: @dark-grey;            
            .block{
                display: block
            }
            .inline-block{
                display: inline-block
            }
            @media @breakpoint-767{
                padding-right: 30px;
                &::after{
                    content: "\f105";
                    position: absolute;
                    font-size: 22px;
                    right: 15px;
                    top: 50%;
                    font-family: 'FontAwesome';
                    height: 100%;
                    bottom: 0;
                    margin-top: -12px;
                    line-height: 24px;
                    color: @light-grey
                }
            } 
        }
        .row-with-arrow{
            @media @breakpoint-767{
                &::after{
                    content: "\f105";
                }
            }
        }
        .row-with-bars{
            @media @breakpoint-767{
                &::after{
                    content: "\f0c9";
                }
            }
        }
        

        a.link{
            text-decoration: underline;
            color: @dark-grey;
        }  
    }

    .block-input-clear{
        position: relative;
        .clear-input{
            position: absolute;
            right: calc(~'5% + 15px');
            top:20%;
            @media @breakpoint-767{
                right: calc(~'5% + 10px');
            }
            @media @breakpoint-576{
                top:16%;
            }
        }
        .input-button{
            position: absolute;
            top:0;
            right: 0;
            @media @breakpoint-767{
                right: calc(~'5% ');
            }
        }
    }

    .block-input-search{
        position: relative;
        input{
            padding-left: calc(~'1% + 30px');
        }
        .search-input{
            position: absolute;
            top:20%;
            &.desktop-only{
                left: calc(~'1% + 10px');
            }
        }
    }

    .block-input-mic{
        position: relative;
        textarea{
            resize: vertical;
        }
        .mic-ico{
            position: absolute;
            top:10%;
            right: 5%;
            color: @blue;
            @media  @breakpoint-576{
                right: 7%;
            }
        }
    }

    .block-input-button{
        position: relative;

        .button-ico{
            position: absolute;
            top:0;
            bottom:0;
            right: 15px;
            padding-left: 10px;
        }
    }

    @media  @breakpoint-767{
        .fom-line{
            margin: 0;
            /*padding: 3px 0;*/
            border-bottom:1px solid @lighter-grey;
        }
    }   
    
}

.custom-list{
    padding-left: 0;
    margin-bottom: 0;
    li{
        list-style: none;
        padding: 15px;
        position: relative;
        @media  @breakpoint-767{
            margin: 0;
            position: relative;
            border-bottom:1px solid @lighter-grey;
            &::after{
                content: "\f105";
                position: absolute;
                font-size: 24px;
                right: 0;
                top:calc(~"50% - 18px");
                color: @light-grey;
                font-family: 'FontAwesome';
            } 
        }
        a{
            display: block;
            &:hover{text-decoration: none;}
            .list-label{
                text-transform: uppercase;
                color: @light-grey;
                display: block;
            }
            .list-value{
                color: @darker-grey
            }
            @media  @breakpoint-767{
                .list-label{
                    color: @darker-grey;
                    span{
                        display: inline-block;
                        margin-left: 10px;

                    }
                }
                .list-label{
                    text-transform: capitalize;
                }
            }
        }
    }
    &.gallery-list{
        li{
            @media  @breakpoint-767{
                padding: 10px;
            }
        }
        .gallery-list-name-block{
            .flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
        }
    }
}

.rating{
    label {
        color: @yellow;
        text-indent: -2000em;
        display: inline-block;
        font-size: 1.2em;
        width: 1.2em;
    }
    label:before {
        /*content: "★";*/
        content: "\f005";
        font-family: 'FontAwesome'; 
        position: relative;
        left: 2000em;
    }
    input:checked ~ label {
        color:@darker-grey;
    }
    input {
        display: none;
    }
    div.rating:hover label {
        color: gold;
    }
    div.rating label:hover ~ label {
        color: @darker-grey;
    } 
}

.status{
    text-transform: uppercase;
    text-align: center;
    padding: 2px 4px;
    border-radius: 20px;
    &.accept{
        width: 60px;
        color: @green;
        border: 1px solid @green
    }
}

/*PAGES*/
.container-page-value{
    @media  @breakpoint-767{
        .flex-order-1{order:2}
        .flex-order-2{order:1}
    }
}

.container-page-add-person{
    .add-person-left-col{
        padding:0 25%;
        .img-fluid-out {
            position: relative;
            .img-fluid {
                border-radius: 50%;
                margin-bottom: 40px;
                .img-shadow;
            }
         }
    
        @media  @breakpoint-767{
            padding:0%;
            text-align: center;
            .img-fluid-out {
                .img-fluid {
                    border-radius: 0;
                    margin-bottom: 0;
                    box-shadow: none;
                }
                .btn-edit{
                    position: absolute;
                    bottom:-20px;
                    right: 10%;
                }
            }
            
        }
    }
}


.content-gallery{
    &.gallery-rounded{
        .content-gallery-block{
            padding: 5px;
            img{
                box-shadow: 0 3px 5px  #9c9c9c;
                padding:0;
            }
            .gallery-block-blanc{
                border-radius: 50%; 
            }
            .gallery-block-bg{
                border-radius: 50%;
                left: 5px;
                right: 5px;
                bottom: 5px;
                top: 5px; 
            }
        }
    }
    &-block{
        position: relative;
        .gallery-block-bg{
            position: absolute;
            left: 5px;
            right: 5px;
            bottom: 5px;
            top: 5px; 
            background: fade(@darker-grey, 70%);
            opacity: 0;
            .animation-transition;
            @media  @breakpoint-767{
                left: 0;
                right: 0;
                bottom: 0;
                top: 0; 
            }
        }
        .gallery-block-blanc{
            font-size: 42px;
            width: 100%;
            height: 100%;
            background: @lighter-grey;
            display: flex;
            justify-content: center;
            align-items: center;
            @media  @breakpoint-767{
                font-size: 10vw;
            }
        }
        .gallery-block-select{
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 40%);
            width: 80%;
            white-space: pre-wrap;
            opacity: 0;
            .animation-transition;
        }
        &:hover{
            .gallery-block-bg{
                opacity: 1;
            }
            .gallery-block-select{
                opacity: 1;
                z-index: 1; 
            }
        }
        &.active-block{
            .gallery-block-bg{
                opacity: 1;
            }
        }
        img{
            padding: 5px;
            @media  @breakpoint-767{
                padding: 1px;
            }
        } 
    }

    .square-block{
        
        .square {
            position: relative;
            width: 100%;
            margin: 0 auto;
        }
    
        .square:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        @media  @breakpoint-767{

            .square {
                width: 50%;
            }

            padding:5%;
        }
    }

    
}

.container-add-assets-to-policy{
    .order1{
        text-transform: uppercase;
    }
    @media  @breakpoint-767{
        .order-1{
            order: 2;
        }
        .order-2{
            order: 1;
            margin-right: 5px;
            &::after{
                content: " - ";
            }
        }
    }
}

.company-description{
    margin: 20px 0;
    &-bottom div,
    div{
        margin: 10px 0;
    }
    @media  @breakpoint-767{
        border-bottom:1px solid @lighter-grey;
        
    }
}

.user-permissions-table{
    margin-top: -65px;
    @media @breakpoint-767{
        margin-top: 0
    }
    &-thead{                
        tr{
            margin-bottom: 50px;
            @media @breakpoint-767{
                background: @lighter-grey;
            }
            th{
                padding: 20px 0 40px 0;
                @media @breakpoint-767{
                    padding: 10px 0;
                }
            }
        }
    }
    tbody{
        td{
            vertical-align:middle
        }
    }
}



.block-ico-staus{
    .status-icon{
        display: inline-block;
        margin-right: 10px
    }
}


.username{
    margin: 20px auto;
}

.first-page{
    .logo{
        max-width: 150px;
        margin: -40px auto 0;
    }
    .site-name,
    .site-slogan{
        text-align: center;
        color: @white;
        font-size: 18px;
    }
    .link{
       position: absolute;
       bottom: 20px;
       width: 100%;
       text-align: center;
       a{
           color: @white;
           font-size: 24px;
       } 
    }
}



/* FORM ELEMETS */
.toggler-on-off {
    width: 47px;
    height: 26px;
    background: @white;
    position: relative;
    border-radius: 50px;
    border:1px solid @green;
    &:after {
        content: 'OFF';
        color: #000;
        position: absolute;
        right: 7px;
        z-index: 0;
        top:6px;
        font-size: 8px;
        font-weight: bold;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
    }
    &:before {
        content: 'ON';
        color: #27ae60;
        position: absolute;
        left: 5px;
        top:7px;
        font-size: 8px;
        z-index: 0;
        font-weight: bold;
    }
    label {
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 2px;
        left: 3px;
        z-index: 1;
        background: @green;
        border-radius: 50%;
        .animation-transition;
    }
    input[type=checkbox] {
        visibility: hidden;
    }
    input[type=checkbox]:checked + label {
        left: 22px;
    }
}

.custom-checkbox {
    display: inline-block;
    width: 22px;
    height: 22px;
    position: relative;
    label {
        border: 1px solid @light-grey;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        cursor: pointer;
        background: @white;
        border-radius: 3px;
        .animation-transition;
        &:after {
            content: '';
            width: 10px;
            height: 6px;
            position: absolute;
            top: 4px;
            left: 4px;
            border: 1px solid #fcfff4;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            }
            &:hover::after {
                opacity: 0.3;
            }
        }
    input[type=checkbox] {
        visibility: hidden;
        &:checked + label:after {
            opacity: 1;
        }
        &:checked + label {
            background: @green;
            border: 1px solid @green;
        }
    }
}
.custom-radio-button{
    width: 100%;
    input[type="radio"]:checked,
    input[type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    input[type="radio"]:checked + label,
    input[type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: block;
        color: #666;
        left: 14px;
    }
    input[type="radio"]:checked + label:before,
    input[type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 35%;
        width: 18px;
        height: 18px;
        border: 1px solid @light-grey;
        border-radius: 100%;
        background: @white;
    }
    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after {
        content: '';
        width: 6px;
        height: 6px;
        background: @green;
        position: absolute;
        top: calc(35% + 6px);
        left: 6px;
        border-radius: 100%;
        .animation-transition;
    }
    input[type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    input[type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.slider-page{
    position: relative;
    .img-bg{
        width: 100%;
        height: calc(~'100vh - 70px') ;
        background: url(../img/wallpaper.jpg);
        background-position: center center;
        background-size: cover;
    }
    .swiper-container{
        height: 100%;
    }
    .slider-container{
        height: 100%;
        text-align: center;
        h3{color: @white}
    }
    .one-col{
        justify-content: space-evenly;
    }
    .one-col-center{
        justify-content: center;
    }
    .two-col{
        flex-wrap: wrap; 
        & > div{
            width: 50%;
            @media  @breakpoint-767{
                width: 100%
            }
        }
    }
    canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
}

.background-block{
    height: 70vh;
    position: relative;
    overflow: hidden;
    .background-black{
        background: rgba(0, 0, 0, 0.65);
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .background-block-title{
        position: relative;
    }
    .white-box{
       border: 1px solid #ccc; 
       position: relative;
       z-index: 1;
       opacity: .8;
       img{
           opacity: .2;
           margin: 0 auto;
           width: 85%;
           max-width: 400px;
       }

    }
}

/*Plugins fix*/
.mCustomScrollbar .mCSB_container{
    min-height: 100%;
}


.datepicker{
    background: #4299f7;
    color: @white;
    text-shadow: none;
    font-weight: 400;
    position: fixed;
    & table tr td.old, 
    & table tr td.new{
        color: #ccc
    }
    th{
        font-weight: 400;
    }
    &::before,
    &::after{
        left: auto;
        right: 6px;
        content: none;
    }
    table{
        tr{
            td.active,
            td.day:hover{
                background-color: #3e89da !important;
                background-image: none;
                text-shadow: none;
                font-weight: 600;
            }
        }
    }
} 






/*PLUGIN SELECT2*/
.select2-container{ 
    width: 100% !important;
}
.selection{
    display: block;
    margin-top: 8px;
    position: relative;
}
.select2-container--default 
.select2-selection--single 
.select2-selection__arrow{
    width: 34px;
    height: 34px;
    background: fade(@light-grey, 30%);
    border-radius: 4px;
    @media  @breakpoint-767{
        background: transparent;
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        b{display: none}
        &::after{
            font-family: 'FontAwesome'; 
            content: "\f105";
            position: absolute;
            left: 7px;
            top:2px;
            color: #646464;
            font-size: 20px;
        }
    }
}
.select2-container .select2-selection--single{
    height: 36px;
}
.select2-container--default 
.select2-selection--single 
.select2-selection__rendered{
    line-height: 36px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.select2-container--open .select2-dropdown--above{
    border-bottom: 1px solid #aaa;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.select2-dropdown{
    background: #4299f7;
    color: @white;
    overflow: hidden; 
}
.select2-container--open .select2-dropdown--below{
    margin-top:3px !important;
    border-top: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #4299f7;
    color: @white;
    overflow: hidden;
}
.select2-container--default .select2-selection--single{
    border:1px solid #ced4da;
}
.select2-results__option{
    padding-left: 40px;
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #3e89da;
    color: white;
}
.select2-container--default .select2-results__option[aria-selected=true]{
    position: relative;
}
.select2-container--default .select2-results__option[aria-selected=true]::before{
    font-family: 'FontAwesome'; 
    content: "\f00c";
    position: absolute;
    left: 7px;
    top:2px;
    color: @white;
    font-size: 20px;
}