<!-- MAIN MENU -->
<nav class="navbar sticky-top navbar-dark no-paddings">

    <div class="d-flex align-items-center justify-content-between w-100">

        <!-- Menu  Button - Desktop -->
        <button class="navbar-toggler navbar-toggler-left x collapsed btn-header desktop-only" type="button"
            data-toggle="collapse" data-target="#navbarsTop" aria-controls="navbarsTop" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- Back Button - Mobile -->
        <button class="btn-left btn-header mobile-only" onclick="history.back(-1)">
            <i class="fa fa-angle-left"></i>
        </button>

        <!-- Accept Button - Mobile -->
        <button class="btn-left btn-header mobile-only">
            <i class="fa fa-check"></i>
        </button>

        <!-- Page Name - Mobile -->
        <span class="navbar-brand mx-auto mobile-only">
            Assetize.IT
        </span>

        <!-- Close Button - Mobile -->
        <button class="btn-right btn-header mobile-only">
            <i class="fa fa-times"></i>
        </button>

         <!-- Edit Button - Mobile -->
         <button class="btn-right btn-header mobile-only">
            <i class="fa fa-pencil"></i>
        </button>

        <!-- Edit Button - Desktop -->
        <button class="btn-right btn-header">
            <i class="fa fa-pencil"></i>
            <span class="fs-16 desktop-only"> edit </span>
        </button>

        <!-- Back Button - Desktop -->
        <button class="btn-right btn-header desktop-only">
            <input class="hidden-upload" type="file">
            <i class="fa fa-cloud-upload"></i>
            <span class="fs-16"> upload </span>
        </button>

        <!-- Blank Button - Mobile -->
        <button class="btn-right btn-header btn-header-blank mobile-only"></button>

    </div>

    <!-- Main Menu -->
    <div class="collapse navbar-collapse" id="navbarsTop">
        <div class="container-fluid no-paddings no-gutters">
            <ul class="navbar-nav">
                <div class="row">
                    <li class="nav-item  animated fadeInDown col-6 col-sm-4 col-md-3 ">
                        <a class="nav-link" href="#">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                            <span>Add New</span>
                        </a>
                    </li>
                    <li class="nav-item  animated fadeInDown col-6 col-sm-4 col-md-3">
                        <a class="nav-link" href="#">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            <span>Image</span>
                        </a>
                    </li>
                    <li class="nav-item  animated fadeInDown col-6 col-sm-4 col-md-3">
                        <a class="nav-link" href="#">
                            <i class="fa fa-list-ul " aria-hidden="true"></i>
                            <span>Add New</span>
                        </a>
                    </li>
                    <li class="nav-item  animated fadeInDown col-6 col-sm-4 col-md-3">
                        <a class="nav-link" href="#">
                            <i class="fa fa-list-ul " aria-hidden="true"></i>
                            <span>Add New</span>
                        </a>
                    </li>
                    <li class="nav-item  animated fadeInDown col-6 col-sm-4 col-md-3">
                        <a class="nav-link" href="#">
                            <i class="fa fa-list-ul " aria-hidden="true"></i>
                            <span>Add New</span>
                        </a>
                    </li>
                    <li class="nav-item  animated fadeInDown col-6 col-sm-4 col-md-3">
                        <a class="nav-link" href="#">
                            <i class="fa fa-list-ul " aria-hidden="true"></i>
                            <span>Add New</span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>

    </div>
</nav>

<!-- PRODUCT NAME - BLOCK -->
<div class="container-fluid no-paddings info-block info-block-yellow-grey">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="container">
                <div class="product-name flex justify-content-center">
                    <div class="product">
                        <h1>Honda</h1>
                        <h5>Plant & mach.</h5>
                    </div>
                    <a class="next mobile-only">
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <a class="edit desktop-only">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BOTTOM BUTTON - MOBILE -->
<div class="container-fluid mobile-only sticky-btn-block">
    <div class="mobile-only mobile-btn-block no-gutters no-paddings">
        <div class="row">
            <div class="col-12">
                <button class="btn mobile-btn btn-green">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<!-- TWO COLUMNS BLOCK NAME  -->
<div class="custom-form">
    <div class="fom-line desktop-only pt-4 pb-1">
        <div class="row">
            <div class="col-12 no-padding-right-mobile">
                Print Labels by Custodian
            </div>
        </div>
    </div>
</div>
<div class="custom-form">
    <div class="fom-line desktop-only pt-4 pb-1">
        <div class="row">
            <div class="col-12">&nbsp;</div>
        </div>
    </div>
</div>

<!-- ROW DIV/LINK WITH ARROW-->
<div class="fom-line">
    <a href="#" class="row row-with-arrow link-mobile-only">
        <div class="col-4">
            Insurer
        </div>
        <div class="col-12">
            &nbsp;
        </div>
    </a>
</div>

<div class="fom-line">
    <a href="#" class="row row-with-arrow link-mobile-only">
        <div class="col-6">
            Rating
        </div>
        <div class="col-6">
            <div class="rating">
                <label for="star1" title="Sucks big time">1 star</label>
                <input type="radio" id="star1" name="rating" value="1" checked="checked" />
                <label for="star2" title="Kinda bad">2 stars</label>
                <input type="radio" id="star2" name="rating" value="2" checked="checked" />
                <label for="star3" title="Meh">3 stars</label>
                <input type="radio" id="star3" name="rating" value="3" checked="checked" />
                <label for="star4" title="Pretty good">4 stars</label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star5" title="Rocks!">5 stars</label>
                <input type="radio" id="star5" name="rating" value="5" />
            </div>
        </div>
    </a>
</div>


<div class="fom-line">
    <div class="row row-with-arrow">
        <div class="col-4">
            Insurer
        </div>
        <div class="col-8 ">
            <div class="one-line-mobile-only">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias distinctio asperiores laboriosam 
            </div>
        </div>
        <div class="col-8 col-md-12 block-input-clear ">
            <input type="text" class="form-control" name="" id="validationCustom1" value="123456789">
            <span class="clear-input mobile-only">
                <i class="fa fa-times"></i>
            </span>
        </div>
    </div>
</div>

<!-- ROW WITH CHECKBOX, PHOTO AND ARROW-->
<div class="fom-line">
    <a href="#" class="row row-with-arrow link-mobile-only">
        <div class="col-1 align-items-center no-padding-right-mobile align-items-center flex">
            <div class="custom-checkbox">
                <input type="checkbox" value="None" id="item1" name="check" />
                <label for="item1"></label>
            </div>
        </div>
        <div class="col-3 col-sm-2 align-items-center flex">
            <img src="assets/img/potrait.jpeg" class="img-fluid" alt="">
        </div>
        <div class="col-7 col-sm-8 align-items-center flex">
            <div class="row no-gutters no-paddings">
                <div class="col-auto col-md-12 order-1">Category</div>
                <div class="col-auto col-md-12 order-2">Some other to assets </div>
            </div>
        </div>
    </a>
</div>

<!-- ROW WITH RADIO AND PHOTO -->
<div class="fom-line">
    <div class="row">
        <div class="custom-radio-button">
            <input type="radio" id="test1" name="radio-group"  >
            <label for="test1">
                <div class="row">	
                    <div class="col-3 col-sm-2 align-items-center flex">
                        <img src="assets/img/potrait.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="col-7 col-sm-8 align-items-center flex">
                        <div class="row no-gutters no-paddings">
                            <div class="col-auto col-md-12 ">Asset Name 3</div>
                        </div>
                    </div>
                </div>
            </label>
        </div>
    </div>
</div>

<!-- ROW WITH RADIO AND TEXT -->
<div class="fom-line">
    <div class="row ">
        <div class="custom-radio-button ">
            <input type="radio" id="test1" name="radio-group "  >
            <label for="test1" class="col-10 flex small-paddings ml-1">
                <div class="row">	
                    <div class="col-10 offset-1 align-items-center flex">
                        <div class="row no-gutters no-paddings">
                            <div class="col-auto col-md-12">Category</div>
                        </div>
                    </div>
                </div>
            </label>
        </div>
    </div>
</div>


<!-- TOP SEARCH BAR ON GREY BG -->
<div class="container-fluid info-block info-block-grey">
    <div class="container">
        <div class="rows ">
            <div class="col-12 col-md-6">
                <div class="row flex no-paddings">
                    <div class="col-2 align-content-left align-content-md-end  no-padding-left">
                        <button class="btn btn-yellow mob-transpatrent  mob-rounded">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <div class="col-10  col-md-9 no-padding-right-mobile">
                        <input type="text" class="form-control" name="" id="validationCustom1" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TOP ADD BAR ON GREY BG -->
<div class="container-fluid info-block info-block-grey pt-2 pb-2">
    <div class="container">
        <div class="rows ">
            <div class="col-12 col-md-6 no-paddings">
                <div class="row flex">
                    <div class="col-2 align-content-left align-content-md-end  no-padding-left">
                        <button class="btn btn-green mob-transpatrent blue-text-border mob-rounded">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-10  col-md-9 no-padding-right-mobile">
                        <input type="text" class="form-control" name="" id="validationCustom1" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>