<nav class="navbar sticky-top navbar-dark no-paddings">
    <div class="d-flex align-items-center justify-content-between w-100">
        <button class="navbar-toggler navbar-toggler-left x collapsed" type="button" data-toggle="collapse" data-target="#navbarsTop"
            aria-controls="navbarsTop" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand mx-auto mobile-only" href="#">
            Assetize.IT	
        </a>
        <button class="btn-right desktop-only">
            <i class="fa fa-plus"></i>
        </button>
    </div>


    <div class="collapse navbar-collapse" id="navbarsTop">
        <div class="container-fluid no-paddings no-gutters">
            <ul class="navbar-nav">
                <div class="row">
                    <li class="nav-item  animated fadeInDown col-6 col-sm-4 col-md-3 ">
                        <a class="nav-link" href="#">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                            <span>Add New</span>
                        </a>
                    </li>
                    <li class="nav-item  animated fadeInDown col-6 col-sm-4 col-md-3">
                        <a class="nav-link" href="#">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            <span>Image</span>
                        </a>
                    </li>
                    <li class="nav-item  animated fadeInDown col-6 col-sm-4 col-md-3">
                        <a class="nav-link" href="#">
                            <i class="fa fa-list-ul " aria-hidden="true"></i>
                            <span>Add New</span>
                        </a>
                    </li>
                    <li class="nav-item  animated fadeInDown col-6 col-sm-4 col-md-3">
                        <a class="nav-link" href="#">
                            <i class="fa fa-list-ul " aria-hidden="true"></i>
                            <span>Add New</span>
                        </a>
                    </li>
                    <li class="nav-item  animated fadeInDown col-6 col-sm-4 col-md-3">
                        <a class="nav-link" href="#">
                            <i class="fa fa-list-ul " aria-hidden="true"></i>
                            <span>Add New</span>
                        </a>
                    </li>
                    <li class="nav-item  animated fadeInDown col-6 col-sm-4 col-md-3">
                        <a class="nav-link" href="#">
                            <i class="fa fa-list-ul " aria-hidden="true"></i>
                            <span>Add New</span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>

    </div>
</nav>