<nav class="navbar sticky-top navbar-dark no-paddings">
    <div class="d-flex align-items-center justify-content-between w-100">
        <button class="btn-left">
            <i class="fa fa-angle-left"></i>
        </button>
        <a class="navbar-brand mx-auto mobile-only" href="#">
            Page name
        </a>
        <button class="btn-right">
            <i class="fa fa-times"></i>
        </button>
    </div>
</nav>