<div class="container-fluid no-paddings">
    <div class="row no-gutters top-gallery">
        <div class="col-8">
            <img src="https://picsum.photos/1920/1082/?image=0" class="img-fluid" alt="">
        </div>
        <div class="col-4">
            <img src="https://picsum.photos/1920/1080/?image=1" class="img-fluid" alt="">
            <img src="https://picsum.photos/1920/1080/?image=2" class="img-fluid" alt="">
        </div>
    </div>
</div>